<div class="center jumbotron">
<h1>Prando App</h1>
<h2>
Welcome to the home page of Prando app!
</h2>
<%= link_to "Help is here!", help_path, class: "btn btn-lg btn-primary" %>
<h2>
  Copyright none. 
<h2>
</div>
      